@model HospitalProject.Models.ParkingSpotDto

@{
    ViewBag.Title = "View";
}

<a href="/ParkingSpot/List">Go back to list</a>
<h2>
    @Model.Code
</h2>
<div>
    Parking Spot Type: @Model.Type
</div>
<div>
    Staff Id: @Model.StaffId
</div>
<div>
    Staff Name: @Model.StaffName
</div>


