@model IEnumerable<HospitalProject.Models.StaffsDto>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<a href="/Staff/New">New Staff</a>
@foreach (var Staff in Model)
{
    <h2><a href="/Staff/Details/@Staff.Id">@Staff.Name</a></h2>
    <div>Start Time: @Staff.StartTime.ToString("HH:mm tt")</div>
    <div>End Time: @Staff.EndTime.ToString("HH:mm tt")</div>
    <div>Specialization: @Staff.Specialization.Name</div>
}
