@model IEnumerable<HospitalProject.Models.SpecializationsDto>


@{
    ViewBag.Title = "Create";
}

<h2>Add New Staff</h2>

<form action="/Staff/Create" method="POST">
    <div class="field-container">
        <label>Name:</label>
        <input type="text" name="Name" class="" />
    </div>

    <div class="field-container">
        <label>Start Date:</label>
        <input type="date" name="StartTime" class="" />
    </div>

    <div class="field-container">
        <label>Start Time:</label>
        <input type="time" name="StartTime" class="" />
    </div>

    <div class="field-container">
        <label>End Date:</label>
        <input type="date" name="EndTime" class="" />
    </div>

    <div class="field-container">
        <label>End Time:</label>
        <input type="time" name="EndTime" class="" />
    </div>

    <div>
        <label>Specialization:</label>
        <select name="SpecializationId">
            @foreach (var specializations in Model)
            {
                <option value="@specializations.Id">@specializations.Name</option>

            }
        </select>
    </div>

    <div><input type="submit" value="Add Staff" /></div>
</form>


