@model IEnumerable<HospitalProject.Models.SpecializationsDto>

@{
    ViewBag.Title = "Create";
}

<h2>Add New Staff</h2>

    <form action="/Staff/Create" method="POST">
        <div class="field-container">
            <label>Name:</label>
            <input type="text" name="Name" class="field-container__input-box" />
        </div>

        <div class="field-container">
            <label>Start Time:</label>
            <input type="text" name="StartTime" class="field-container__input-box" />
        </div>

        <div class="field-container">
            <label>End Time:</label>
            <input type="text" name="EndTime" class="field-container__input-box" />
        </div>

        <div>
            <label>Specialization:</label>
            <select name="Name">
                @foreach (var specializations in Model)
                {
                <option value="@specializations.Id">@specializations.Name</option>
                    
                }
            </select>
        </div>

        <div><input type="submit" value="Add Staff" /></div>
    </form>


