@{
    ViewBag.Title = "Create";
}

<h2>Create a New Staff</h2>

<div class="form-box">
    <form action="/ParkingSpot/Create" method="POST">
        <div class="field-container">
            <label>Code:</label>
            <input type="text" name="Code" class="field-container__input-box" />
        </div>
        <div class="field-container">
            <label>Type:</label>
            <input type="text" name="Code" class="field-container__input-box" />
        </div>
        <div><input type="submit" value="Add Parking Spot" /></div>
    </form>
</div>

