
@{
    ViewBag.Title = "Index";
}

<p id="errMsg" class="text-center"></p>

<h2>Index</h2>

<div style="display: flex;justify-content: space-between;">
    <a href="/inventory/add">Add New Item</a>

    <input id="searchInput"
           class="form-control"
           type="text"
           name="searchKey"
           placeholder="search..." />
</div>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody id="tBody">
    </tbody>
</table>

<button class="btn" id="btnPrev">Prev</button>
<button class="btn" id="btnNext">Next</button>

@Scripts.Render("~/Scripts/Common/service.js")
@Scripts.Render("~/Scripts/Inventory/inventory-service.js")
@Scripts.Render("~/Scripts/Inventory/index.js")
