@{
    ViewBag.Title = "Update";
}

<p id="errMsg" class="text-center"></p>

<h2 id="name"></h2>

<div>
    <label>Quantity: </label>
    <span id="quantity"></span>
</div>

<form name="updateInventory">
    <div class="form-group">
        <label class="control-label">Delta</label>
        <input class="form-control" id="delta" type="number" required />
    </div>
    <button class="btn btn-primary" type="submit">Update</button>
</form>

@Scripts.Render("~/Scripts/Common/service.js")
@Scripts.Render("~/Scripts/Inventory/inventory-service.js")
@Scripts.Render("~/Scripts/Inventory/update-leadger.js")
