@model HospitalProject.Models.Specialization

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Specialization</h4>
    <Label>Name: </Label>
    <span>@Model.Name</span>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
