@model HospitalProject.Models.Specialization

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<form action="/specialization/update" method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <div class="form-group">
        <label class="control-label">Name</label>
        <input class="form-control" type="text" name="name" value="@Model.Name" required />
    </div>
    <button class="btn btn-primary" type="submit">Save</button>
</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
